@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-size: 18px;
    position: relative;
}
h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
button {
    cursor: pointer;
}
header {
    background: hsl(193, 100%, 96%);
    background-image: url(bg-hero-desktop.svg);
    display: flex;
    flex-direction: column;
}
.head-1 {
    padding: 30px 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-1 a button {
    padding: 15px 70px;
    border: none;
    background-color: white;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 0 5px 15px -4px hsl(208, 11%, 55%);
}
.head-2 {
    display: flex;
    padding: 50px 100px;
}
.head-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}
.head-2-text h1 {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 25px;
    color: hsl(192, 100%, 9%);
}
.head-2-text p {
    line-height: 28px;
    margin-bottom: 35px;
    color: hsl(192, 100%, 9%);
}
.head-2-text a button {
    padding: 17px 75px;
    border-radius: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    background: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    margin-left: 10px;
    box-shadow: 0 5px 15px -4px hsl(208, 11%, 55%);
}
main {
    width: 100%;
    padding: 150px 150px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-1,.main-2,.main-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    border: none;
    border-radius: 20px;
    padding: 0 75px;
    padding-left: 225px;
    margin: 40px 0;
    box-shadow: 0 0 8px -4px hsl(208, 11%, 55%);
}
.main-1-img img,.main-2-img img,.main-3-img img {
    height: 350px;
}
.main-1-text,.main-2-text,.main-3-text{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}
.main-1-text p,.main-2-text p,.main-3-text p {
    color: hsl(208, 11%, 55%);
}
.main-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    border: none;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 0 0 8px -4px hsl(208, 11%, 55%);
    position: absolute;
    bottom: 425px;
    right: 25%;
    z-index: 10;
    background: white;
}.main-4 a button {
    padding: 20px 90px;
    border: none;
    background-color: white;
    border-radius: 40px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: 0 5px 15px -4px hsl(208, 11%, 55%);
    background: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
}
footer {
    background: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 525px;
    padding-bottom: 10px;
}
.foot-1 {
    width: 25%;
    padding-bottom: 60px;
}
.foot-logo {
    margin-bottom: 10px;
}
.foot-logo img {
    height: 32.5px
}
.foot-2,.foot-3,.foot-4 {
    height: 260px;
}
.location,.phone,.email {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.location img,.phone img,.email img {
    height: 15px;
    margin-right: 30px;
}
.location p,.phone p,.email p {
    font-size: 15px;
}
.foot-2 ul,.foot-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.foot-2 ul li,.foot-3 ul li {
    line-height: 40px;
}
.foot-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socials {
    width: 120px;
    display: flex;
    justify-content: space-between;
}
ion-icon {
    font-size: 25px;
}
.copyright p {
    font-size: 13px;
}